<form action="/ManagerLogin/create" method = "POST">
    <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>


    <input type="text" placeholder="Email" name ="Email" ></br>
    <input type="text" placeholder="Password" name = "Password"></br>

    <input type="hidden" name="_csrf" value="<%= _csrf %>>" />

    <input type="submit" value="Sign in"/>
</form>