<form action="/Trial/update/<%=Trial[0].TrialID%>" method = "POST">

    <h3>Trial</h3>

    <input type="text" placeholder="External TrialID" name = "ExternalTrialID" value="<%= Trial[0].ExternalTrialID%>"></br>
    <input type="text" placeholder="Official Name" name = "OfficialName" value="<%= Trial[0].OfficialName%>"></br>
    <input type="text" placeholder="Abbreviation Name" name ="AbbreviationName" value="<%= Trial[0].AbbreviationName%>"></br>
    <!--<input type="text" placeholder="ExclusionID" name = "ExclusionID"></br>-->
    <input type="text" placeholder="Key Words" name = "KeyWords" value="<%= Trial[0].KeyWords%>"></br>
    <input type="text" placeholder="Brief Summary" name ="BriefSummary" value="<%= Trial[0].BriefSummary%>"></br>
    <input type="text" placeholder="Chief Investigator" name = "ChiefInvestigator"value="<%= Trial[0].ChiefInvestigator%>"></br>
    <input type="text" placeholder="Trial Status" name = "TrialStatus"value="<%= Trial[0].TrialStatus%>"></br>
    <input type="text" placeholder="Detailed Description" name ="DetailedDescription" value="<%= Trial[0].DetailedDescription%>"></br>

    <h3>Condition</h3>
    <input type="text" placeholder="Condition" name = "ConditionID" value="<%= Condition[0].ConditionID%>"></br>

    <h3>Exclusion Criteria</h3>
    <input type="text" placeholder="Minimum Age" name = "EMinimumAge" value="<%= ExclusionCriteria[0].MinimumAge %>"></br>
    <input type="text" placeholder="Maximum Age" name = "EMaximumAge" value="<%= ExclusionCriteria[0].MaximumAge %>"></br>
    <input type="text" placeholder="Gender" name = "EGender" value="<%= ExclusionCriteria[0].Gender %>"></br>

    <h3>Inclusion Criteria</h3>
    <input type="text" placeholder="Minimum Age" name = "IMinimumAge" value="<%= InclusionCriteria[0].MinimumAge %>"></br>
    <input type="text" placeholder="Maximum Age" name = "IMaximumAge" value="<%= InclusionCriteria[0].MaximumAge %>"></br>
    <input type="text" placeholder="Gender" name = "IGender" value="<%= InclusionCriteria[0].Gender %>"></br>

    <h3>Clinical Centre</h3>
    <input type="text" placeholder="Clinical Center" name = "CentreID" value="<%= ClinicalCentre[0].CentreID %>"></br>
    <input type="text" placeholder="Start Date" name = "StartDate" value="<%= Trial_ClinicalCentre[0].StartDate %>"></br>
    <input type="text" placeholder="End Date" name = "EndDate" value="<%= Trial_ClinicalCentre[0].EndDate %>"></br>
    <input type="text" placeholder="Principal Investigator" name = "PrincipalInvestigator" value="<%= Trial_ClinicalCentre[0].PrincipalInvestigator %>"></br>


    <input type="hidden" name="_csrf" value="<%= _csrf %>>" />

    <input type="submit" value="Update Trial"/>
</form>