<form action="/Trial/create" method = "POST">


    <input type="text" placeholder="External TrialID" name = "ExternalTrialID"></br>
    <input type="text" placeholder="Official Name" name = "OfficialName"></br>
    <input type="text" placeholder="Abbreviation Name" name ="AbbreviationName" ></br>
    <!--<input type="text" placeholder="ExclusionID" name = "ExclusionID"></br>-->
    <input type="text" placeholder="Key Words" name = "KeyWords"></br>
    <input type="text" placeholder="Brief Summary" name ="BriefSummary" ></br>
    <input type="text" placeholder="Chief Investigator" name = "ChiefInvestigator"></br>
    <input type="text" placeholder="Trial Status" name = "TrialStatus"></br>
    <input type="text" placeholder="Detailed Description" name ="DetailedDescription" ></br>

    <h3>Trial_Condition</h3>
    <input type="text" placeholder="Condition" name = "ConditionID"></br>

    <h3>Trial_Exclusion</h3>
    <input type="text" placeholder="Minimum Age" name = "EMinimumAge"></br>
    <input type="text" placeholder="Maximum Age" name = "EMaximumAge"></br>
    <input type="text" placeholder="Gender" name = "EGender"></br>

    <h3>Trial_Inclusion</h3>
    <input type="text" placeholder="Minimum Age" name = "IMinimumAge"></br>
    <input type="text" placeholder="Maximum Age" name = "IMaximumAge"></br>
    <input type="text" placeholder="Gender" name = "IGender"></br>

    <h3>Trial_ClinicalCentre</h3>
    <input type="text" placeholder="Clinical Center" name = "CentreID"></br>
    <input type="text" placeholder="Start Date" name = "StartDate"></br>
    <input type="text" placeholder="End Date" name = "EndDate"></br>
    <input type="text" placeholder="Principal Investigator" name = "PrincipalInvestigator"></br>


    <input type="hidden" name="_csrf" value="<%= _csrf %>>" />

    <input type="submit" value="Create Patient"/>
</form>