<h3><%= Trial[0].TrialID %></h3>
<h3><%= Trial[0].OfficialName %></h3>
<h3><%= Trial[0].AbbreviationName %></h3>
<h3><%= Trial[0].ExclusionID %></h3>
<h3><%= Trial[0].DetailedDescription %></h3>
<h3><%= Trial[0].TrialStatus %></h3>
<h3><%= Trial[0].BriefSummary %></h3>


