<form action="/HealthcareProfessional/update/<%= HealthcareProfessional[0].ProfessionalID %>" method = "POST">

    <% if(flash && flash.err) { %>
<ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
            <li><%- JSON.stringify(flash.err[error]) %></li>
            <% }) %>
        </ul>
        <% } %>

<input type="text" name = "FirstName" value="<%= HealthcareProfessional[0].FirstName %>"></br>
    <input type="text" name = "LastName" value="<%= HealthcareProfessional[0].LastName %>"></br>
    <input type="text" name ="Email" value="<%= HealthcareProfessional[0].Email %>"></br>
    <input type="text" name = "Telephone" value="<%= HealthcareProfessional[0].Telephone %>"></br>
    <input type="text" name = "Age" value="<%= HealthcareProfessional[0].Age %>"></br>
    <input type="text" name ="Gender" value="<%= HealthcareProfessional[0].Gender %>"></br>
    <input type="text" name = "AddressLine1" value="<%= HealthcareProfessional[0].AddressLine1 %>"></br>
    <input type="text" name = "AddressLine2" value="<%= HealthcareProfessional[0].AddressLine2 %>"></br>
    <input type="text" name ="PostCode" value="<%= HealthcareProfessional[0].PostCode %>"></br>
    <input type="text" name = "GMCNumber" value="<%= HealthcareProfessional[0].GMCNumber %>"></br>
    <input type="text" name = "Role" value="<%= HealthcareProfessional[0].Role %>"></br>
    <input type="text" name = "WorksAtCenters" value="<%= HealthcareProfessional[0].WorksAtCenters %>"></br>
    <input type="text" name ="ChiefFlag" value="<%= HealthcareProfessional[0].ChiefFlag %>"></br>
    <input type="text" name = "PrincipalFlag" value="<%= HealthcareProfessional[0].PrincipalFlag %>"></br>
    <input type="text" name = "ChiefOfTrials" value="<%= HealthcareProfessional[0].ChiefOfTrials %>"></br>
    <input type="text" name = "PrincipalOfCenter" value="<%= HealthcareProfessional[0].PrincipalOfCenter %>"></br>


    <input type="hidden" name="_csrf" value="<%= _csrf %>>" />

    <input type="submit" value="Update HealthcareProfessional"/>
    </form>