<h3><%= HealtcareProfessional[0].ProfessionalID %></h3>
<h3><%= HealtcareProfessional[0].FirstName %></h3>
<h3><%= HealtcareProfessional[0].LastName %></h3>
<h3><%= HealtcareProfessional[0].Email %></h3>