
<form action="/patient/update/<%= patient[0].PatientID %>" method = "POST">

    <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>

    <input type="text" name = "FirstName" value="<%= patient[0].FirstName %>"></br>
    <input type="text" name = "LastName" value="<%= patient[0].LastName %>"></br>
    <input type="text" name ="Email" value="<%= patient[0].Email %>"></br>
    <input type="text" name = "Telephone" value="<%= patient[0].Telephone %>"></br>
    <input type="text" name = "Age" value="<%= patient[0].Age %>"></br>
    <input type="text" name ="Gender" value="<%= patient[0].Gender %>"></br>
    <input type="text" name = "AddressLine1" value="<%= patient[0].AddressLine1 %>"></br>
    <input type="text" name = "AddressLine2" value="<%= patient[0].AddressLine2 %>"></br>
    <input type="text" name ="PostCode" value="<%= patient[0].PostCode %>"></br>
    <input type="text" name = "GP" value="<%= patient[0].GP %>"></br>
    <!--<input type="text" name = "Password"></br>-->
    <!--<input type="text" name = "Confirmation"></br>-->

    <input type="hidden" name="_csrf" value="<%= _csrf %>>" />

    <input type="submit" value="Update Patient"/>
</form>
