<form action="/patient/create" method = "POST">
    <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>

    <input type="text" placeholder="Firs Name" name = "FirstName"></br>
    <input type="text" placeholder="Last Name" name = "LastName"></br>
    <input type="text" placeholder="Email" name ="Email" ></br>
    <input type="text" placeholder="Telephone" name = "Telephone"></br>
    <input type="text" placeholder="Age" name = "Age"></br>
    <input type="text" placeholder="Gender" name ="Gender" ></br>
    <input type="text" placeholder="Address Line 1" name = "AddressLine1"></br>
    <input type="text" placeholder="Address Line 2" name = "AddressLine2"></br>
    <input type="text" placeholder="Post Code" name ="PostCode" ></br>
    <input type="text" placeholder="GP" name = "GP"></br>
    <input type="text" placeholder="Password" name = "Password"></br>
    <input type="text" placeholder="Confirmation" name = "Confirmation"></br>

    <input type="hidden" name="_csrf" value="<%= _csrf %>>" />

    <input type="submit" value="Create Patient"/>
</form>