
<h3><%= patient[0].PatientID %></h3>
<h3><%= patient[0].FirstName %></h3>
<h3><%= patient[0].LastName %></h3>
<h3><%= patient[0].Email %></h3>

<!--<form action="/patientLogin/destroy"><input type="button" value="log out"></form>-->