

<% _.each(Conditions, function(Condition){ %>
<form action="/Patient_Condition/add/<%= Condition.ConditionID %>" method = "POST">
<%= Condition.ConditionID %>
<%= Condition.Name %>
<%= Condition.Code %>
<%= Condition.SnomedID %>
<%= Condition.State %>
<%= Condition.ConditionAge %>
    <input type="submit" value="Add"/></br>
<%})%>
    </form>